* {
  font-family: 'Quicksand';
}

.movies-header {
  text-align: center;
  background-color: #282c34;
  color: #FFF;
  padding: 0.8em 0em;
  font-size: 1.5em;
  font-weight: 300;
}

.data-table {
  margin: auto;
  background-color: #282c34;
  color: #FFF;
  width: 80%;
  text-align: center;
}

.cover-img {
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.form-label {
  color: #FFF;
}

.add-form {
  margin: 0em 25em;
}

.movie-details {
  color: #FFF;
  background-color: #282c34;
  text-align: center;
  padding: 1em;
  margin: 0 20em;
}

.back-button {
  margin: 0.5em 0em 0em 4em;
}

.age-limit-label {
  color: #FFF;
}

.search-bar {
  margin: 0 40em;
}

.add-movie-button {
  margin: auto;
  display: block;
}

.add-movie-button-add,
.add-movie-button-edit {
  margin-top: 0.4em;
}

.data-table-head {
  background-color: rgb(26, 26, 26);
}

.data-table-th {
  padding: 1em 0;
}

.data-table-td {
  padding: 0.5em 0;
}

.app-action-button-details,
.app-action-button-edit,
.app-action-button-delete {
  margin-right: 0.5em;
  display: inline-block;
}
